
span{
	cursor: pointer;
	z-index: 1000;
	position: fixed;
	width: 50px;
	height: 100px;
	bottom: 0px;
	right: 100px;
}
span>img{
	max-width: 100%;
}
tr:first-child {
	background-color: #CD7F05;
}
tr:nth-child(odd){
	background-color: rgba(179, 227, 255, 0.81)
}
tr:nth-child(even){
	background-color: rgba(255, 199, 163, 0.81);
}
table{
	border-spacing: 0;
}
body{
	background: #80ECFF url('../img/world.jpg') no-repeat fixed;
	
}
.main{
	width: 100%;
}
fieldset{
	width: 28%;
	margin: 0 auto;
}
legend{
	color: white;
}
select{
	width: 100%;
}
.negrita{
	font-weight: 900;
}
input[type="submit"]{
	margin: 1em 0 0 0;
	width: 100%;
}
article{
	width: 100%;
}
section{
	width: 100%;
}
table{
	margin: 0 auto;
}